:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --background-hero-footer: #2f303a;
  --h-color: #212121;
  --text-color: #757575;
  --background-team: #f5f4fa;
  --logo__item-header: #000000;
  --padding-top: 94px;
  --padding-bottom: 94px;
  --margin-bottom-title: 50px;
}
